* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #ff0 50%, #333 50%);
}
.container {
  height: 450px;
  width: 330px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
  overflow-y: auto;
}
#inp {
  height: 50px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #666;
  color: #fff;
  padding: 0 10px;
  margin: 15px 0;
}
#inp::placeholder {
  color: #bbb;
}
ul li {
  background-color: #eee;
  color: #333;
  height: 40px;
  border-radius: 50px;
  margin: 10px 0;
  padding: 10px;
  position: relative;
}
ul .fa-check {
  position: absolute;
  right: 40px;
  color: green;
  cursor: pointer;
}
ul .fa-trash {
  position: absolute;
  right: 16px;
  color: red;
  cursor: pointer;
}
ul .checked {
  background-color: lightgreen;
  text-decoration: line-through;
  transition: 0.2s;
}
